.eventbutton-checkbox {
	display: none;
}

.glossy-button {
	position: relative;
	display: inline-block;
	
    color: #000;
    border-radius: 0.25em;
    border: 1px solid #777777;
    text-shadow: 1px 1px 0px rgba(255,255,255,.5);
    box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);
    
	width: 3.5em;
	height: 2.5em;
	outline: none;
	overflow: hidden;
	border: 1px solid #7777FF;
	background-color: #9999FF;
	
	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

    background: #7799ff;
    background: linear-gradient(to bottom, #7799ff 33%, #ddeeff 100%);
}

.glossy-button:hover {
	background: #ddeeff;
}

.glossy-button:active {
	background: #6699ff;
}

.eventbutton-checkbox:checked+.glossy-button {
    background: #ffaa55;
    background: linear-gradient(to bottom,  #ffaa55 33%, #ffddaa 100%);
}

.eventbutton-checkbox:checked+.glossy-button:hover {
    background: #ffddaa;
}

.eventbutton-checkbox:checked+.glossy-button:active {
	background: #ffaa55;
}

.glossy-button:before {
    content: "";
    
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
 
    display: block;
    position: absolute;
 
    border-radius: 0.25em;
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0px, rgba(255,255,255,0.7) 2px, rgba(255,255,255,0) 5px);
}

.glossy-button span {
	width: 100%;
	height: 100%;
	display: block;
	
	background-size: 1em;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("/resources/svg/cog.svg");
}
