.ui-widget-content {
	border-style: none;
}

.ui-panelgrid .ui-panelgrid-cell {
	padding: 0px;
	border-style: none;
}

.menu-button span button {
	width: 100%;
	height: 100%;
}

.text-field {
	position: relative;
	width: 200px;
	height: 40px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #7777FF;
	background-color: #FFFFFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}

.text-field .text-field-value {
	position: absolute;
	display: inline-block;
	bottom: 7px;
	right: 0px;
	color: #7777FF;
	font-weight: bold;
	font-family: Aerial;
	text-align: right;
	font-size: 18px;
}
