table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border-collapse: separate;
}

table, tr, td {
    margin: 0;
    border: 0;
    padding: 0;
}

.ui-widget-content {
	border-style: none;
}

.ui-panelgrid .ui-panelgrid-cell {
	padding: 0px;
	border-style: none;
}

.menu-button span button {
	width: 100%;
	height: 100%;
}

.text-field {
	position: relative;
	width: 200px;
	height: 40px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #7777FF;
	background-color: #FFFFFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}

.text-field-value {
	position: absolute;
	display: inline-block;
	bottom: 7px;
	right: 0px;
	color: #7777FF;
	font-weight: bold;
	font-family: Aerial;
	text-align: right;
	font-size: 18px;
}

.full-text-field-label {
	overflow: hidden;
	border-style: none;
	font-size: 18px;
	padding-right: 10px;
	text-align: right;
}

.zero-padding {
	font-size: 0px;
}

.full-text-field-value-view {
	display: inline-block;
}

.full-text-field-value {
	width: 200px;
	height: 40px;
	overflow: hidden;
	
	border: 1px solid #7777FF;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	
	color: #7777FF;
	font-weight: bold;
	font-family: Aerial;
	background-color: #FFFFFF;
	text-align: right;
	font-size: 18px;
}

.drop-down-menu {
	width: 40px;
	height: 40px;
}
