table {
    border-collapse: collapse;
    border-spacing: 0;
}

table, tr, td {
    margin: 0;
    border: 0;
    padding: 0;
}

.station-selection div {
	margin-left: 1em;
}

.station-selection a {
	margin-left: 1em;
}

.station-selection div.hidden a {
	display: none;
}

.point-container {
	display: flex;
}

.points-container {
	text-align: center;
	display: inline-block;
}

.right-aligned {
	text-align: right;
}

#main-menu {
	font-size: 0.8em;
	font-weight: bold;
	
	outline 0;
	border: none;
	overflow: hidden;
	background: #C4C4C4;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	background: linear-gradient(to bottom, #E4E4E4 0%, #E4E4E4 33%, #A4A4A4 100%);
	border-radius: 0.25em;
	display: block;
	position: fixed;
}

#main-dialog-container {
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	display: block;
	position: fixed;
	text-align: center;
	
	background: rgba(0, 0, 0, 0.5);
}

#main-dialog {
	margin-top: 5em;
	display: inline-block;
	
	padding: 1em;
	background: white;
	border-radius: 1em;
	box-shadow: 1px 1px 1px 1px;
}

#main-dialog-title {
	font-size: 1.5em;
	margin-bottom: 0.5em;
}

#main-dialog td {
	text-align: left;
}

#main-dialog .glossy-button span {
	background-image: none;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.75em;
}

.value-table {
	margin: 0.25em;
}

.menu-button span button {
	width: 100%;
	height: 100%;
}

.text-field {
	position: relative;
	width: 200px;
	height: 40px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #7777FF;
	background-color: #FFFFFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}

.text-field-value {
	position: absolute;
	display: inline-block;
	bottom: 7px;
	right: 0px;
	color: #7777FF;
	font-weight: bold;
	font-family: Aerial;
	text-align: right;
	font-size: 18px;
}

.text-field-value:focus {
	outline: 0;
}

.full-text-field-label {
	overflow: hidden;
	border-style: none;
	font-size: 18px;
	padding-right: 10px;
	text-align: right;
}

.section-header {
    padding: 0.5em 1em 0.3em;
    display: block;
    border-radius: 3px;
    border: 1px solid #A8A8A8;
    background: #C4C4C4 -moz-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    background: #C4C4C4 -webkit-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    color: #333;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
    font-size: 1em;
    font-family: Arial,sans-serif;
    text-align: center;
}

.full-text-field-value-view {
	display: inline-block;
}

.full-text-field-value {
	width: 200px;
	height: 40px;
	overflow: hidden;
	
	border: 1px solid #7777FF;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	
	color: #7777FF;
	font-weight: bold;
	font-family: Aerial;
	background-color: #FFFFFF;
	text-align: right;
	font-size: 18px;
}

.drop-down-menu-button {
	padding: 0.5em;
	cursor: pointer;
	font-family: Arial,sans-serif;
}

.drop-down-menu-button:hover {
	background-color: lightcyan;
}
