.dipswitch {
	position: relative;
	width: 20px;
	height: 40px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #7777FF;
	background-color: #9999FF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}

.dipswitch-checkbox {
	display: none;
}

.dipswitch-label {
	width: 18px;
	height: 38px;
	display: block;
	cursor: pointer;
	border-radius: 2px;
}

.dipswitch-channel {
	display: block;
	top: 6px;
	bottom: 14px;
	width: 4px;
	margin-left: 7px;
	border-radius: 2px;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #000000;
	transition: all 0.2s ease-in 0s;
}

.dipswitch-switch {
	display: block;
	top: 16px;
	width: 4px;
	height: 8px;
	margin-left: 7px;
	border-radius: 2px;
	position: absolute;
	background: #FF0000;
	border: 1px solid #000000;
	transition: all 0.2s ease-in 0s;
}

.dipswitch-text {
	display: block;
	position: absolute;
	top: 26px;
	font-size: 12px;
	width: 100%;
	text-align: center;
	color: white;
	font-family: Arial;
	font-weight: bold;
}

.dipswitch-checkbox:checked+.dipswitch-label .dipswitch-switch {
	top: 6px;
	background: #00FF00;
}

.slideswitch {
	position: relative;
	width: 80px;
	height: 40px;
	overflow: hidden;
	border-radius: 3px;
	border: 1px solid #7777FF;
	background-color: #9999FF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}

.slideswitch-checkbox {
	display: none;
}

.slideswitch-label {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.slideswitch-inner {
	display: block;
	width: 200%;
	height: 100%;
	margin-left: -100%;
	transition: margin 0.2s ease-in 0s;
}

.slideswitch-inner:before, .slideswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 100%;
	padding: 0;
	line-height: 40px;
	font-size: 14px;
	color: white;
	font-family: Arial;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
}

.slideswitch-inner:before {
	content: "ON";
	color: #FFFFFF;
	background-color: #00AA00;
}

.slideswitch-inner:after {
	content: "OFF";
	color: #999999;
	background-color: #EEEEEE;
}

.slideswitch-checkbox:checked+.slideswitch-label .slideswitch-inner {
	margin-left: 0;
}
