.dipswitch {
	position: relative;
	width: 1.25em;
	height: 2.5em;
	overflow: hidden;
	border-radius: 0.25em;
	border: 1px solid #7777FF;
	background-color: #9999FF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}

.dipswitch-checkbox {
	display: none;
}

.dipswitch-label {
	width: 1.5em;
	height: 2.1em;
	display: block;
	cursor: pointer;
	border-radius: 0.25em;
}

.dipswitch-channel {
	display: block;
	top: 0.4em;
	bottom: 0.85em;
	width: 0.3em;
	margin-left: 0.44em;
	border-radius: 0.1em;
	position: absolute;
	background: #FFFFFF;
	border: 1px solid #000000;
	transition: all 0.2s ease-in 0s;
}

.dipswitch-switch {
	display: block;
	top: 1.02em;
	width: 0.3em;
	height: 0.6em;
	margin-left: 0.44em;
	border-radius: 0.1em;
	position: absolute;
	background: #FF0000;
	border: 1px solid #000000;
	transition: all 0.2s ease-in 0s;
}

.dipswitch-text {
	display: block;
	position: absolute;
	top: 2.2em;
	font-size: 0.75em;
	width: 100%;
	text-align: center;
	color: white;
	font-family: Arial;
	font-weight: bold;
}

.dipswitch-checkbox:checked+.dipswitch-label .dipswitch-switch {
	top: 0.44em;
	background: #00FF00;
}

.slideswitch {
	position: relative;
	width: 5em;
	height: 2.5em;
	overflow: hidden;
	border-radius: 0.25em;
	border: 1px solid #7777FF;
	background-color: #9999FF;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inline-block;
}

.slideswitch-checkbox {
	display: none;
}

.slideswitch-label {
	width: 100%;
	height: 100%;
	display: block;
	cursor: pointer;
}

.slideswitch-inner {
	display: block;
	width: 200%;
	height: 100%;
	margin-left: -100%;
	transition: margin 0.2s ease-in 0s;
}

.slideswitch-inner:before, .slideswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 100%;
	padding: 0;
	line-height: 2.5em;
	font-size: 1em;
	color: white;
	font-family: Arial;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
}

.slideswitch-inner:before {
	content: "ON";
	color: #FFFFFF;
	background-color: #00AA00;
}

.slideswitch-inner:after {
	content: "OFF";
	color: #999999;
	background-color: #EEEEEE;
}

.slideswitch-checkbox:checked+.slideswitch-label .slideswitch-inner {
	margin-left: 0;
}
